<br/>
<mat-toolbar color="primary">
  <nav class="navbar">

    <mat-card>
      <a routerLink="/es" routerLinkActive="active">Inicio</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/research/es" routerLinkActive="active">Investigación</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/teaching/es" routerLinkActive="active">Enseñanza</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/library/es" routerLinkActive="active">Biblioteca</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/resources/es" routerLinkActive="active">Recursos</a>
    </mat-card>

      <span>|</span>
      
    <mat-card>
      <a routerLink="/blog/es" routerLinkActive="active">Blog</a>
    </mat-card>
</nav>
</mat-toolbar>
