<mat-accordion multi>
  <mat-expansion-panel disabled expanded>
    <mat-card>
      <mat-card-header>
        <h2>Registro de Cambios</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          En esta página están documentados todos los cambios hechos al sitio
          web desde su publicación original. <br />
          <br />
        </p>
        <ul>
          <li>
            <p>
              Folleto de
              <a href=".././assets/pdfs/Desigualdades-Pr1.pdf">
                Problemas de Desigualdades
              </a>
              añadido.
            </p>
          </li>
          <li>
            <p><a routerLink="/cambios">Registro de cambios</a> creado.</p>
          </li>
          <li>
            <p>Página de <a routerLink="/blog">blogs</a> creada.</p>
          </li>
          <li>
            <p>
              Recurso
              <a href="https://discord.gg/ht9ZwkYwQk">Problema 0</a> (servidor
              de Discord) añadido.
            </p>
          </li>
          <li>
            <p>Página de <a routerLink="/recursos">recursos</a> creada.</p>
          </li>
          <li>
            <p>Página de <a routerLink="/clases">clases</a> creada.</p>
          </li>
          <li>
            <p>
              Folleto de
              <a href=".././assets/pdfs/Transformaciones.pdf">
                Transformaciones
              </a>
              añadido.
            </p>
          </li>
          <li>
            <p>
              Página de
              <a routerLink="/folletos">folletos</a> creada.
            </p>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
