<!-- Title and Navigation -->
<app-titlebar-es></app-titlebar-es>
<app-navbar></app-navbar>

<mat-accordion multi>
  <mat-expansion-panel disabled expanded>
    <mat-card>
      <mat-card-header>
        <h2>Folletos</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          Esta página contiene enlaces a todos los folletos que he escrito. La
          mayoría de estos fueron escritos para complementar clases que impartí
          como entrenador de matemática a los olímpicos de Honduras. Algunos
          fueron escritos para algunas de mis clases de matemática en el MIT.
          Los folletos están separados por área: Álgebra, Combinatoria,
          Geometría, Teoría de Números y Topología. Espero los disfruten. <br />
          <br />
          ~Ezra Guerrero Alvarez
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Álgebra -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Álgebra </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Reacomodo.pdf">
              La Desigualdad del Reacomodo
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Desigualdades-Pr1.pdf">
              Problemas de Desigualdades 1
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Combinatoria -->
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Combinatoria </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
    <mat-card-content>
        <ul></ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel> -->
  <!-- Folletos de Geometría -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Geometría </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Cartesianas.pdf">
              Coordenadas Cartesianas y Rectángulos
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Homotecia.pdf">
              Homotecia y el Círculo de los Nueve Puntos
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Ciclicos.pdf">
              Semejanza y Cuadriláteros Cíclicos
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Transformaciones.pdf">
              Transformaciones
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Teoría de Números -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Folletos de Teoría de Números
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Aritmetica-Modular.pdf">
              Aritmética Modular
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Divisibilidad.pdf"> Divisibilidad </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Diofanticas.pdf">
              Ecuaciones Diofánticas
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Factoriales.pdf"> Factoriales </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Topología -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Topología </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Genus-Additivity.pdf">
              Additivity of Genus
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Dehn-Twists.pdf">
              Dehn Twists generate the Mapping Class Group
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Homology-Surgery.pdf">
              Using Dehn Surgery to calculate Homology
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Braids-Final.pdf">
              Representations to get Braid Invariants
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
