<mat-accordion multi>
  <mat-expansion-panel disabled expanded>
    <mat-card>
      <mat-card-header>
        <h2>FOLLETOS</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          Esta página contiene enlaces a todos los folletos que he escrito. La
          mayoría de estos fueron escritos para complementar clases que impartí
          como entrenador de matemática de Francisco Morazán, Honduras y, más
          recientemente, clases al grupo preolímpico de Honduras. Los folletos
          están separados por área: Álgebra, Combinatoria, Geometría y Teoría de
          Números. Espero los disfruten. <br />
          <br />
          ~Ezra Guerrero Alvarez
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Álgebra -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Álgebra </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <h2>ÁLGEBRA</h2>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Reacomodo.pdf">
              La Desigualdad del Reacomodo (pdf)
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Combinatoria -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Combinatoria </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <h2>Combinatoria</h2>
      </mat-card-header>
      <mat-card-content>
        <ul></ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Geometría -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Geometría </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <h2>Geometría</h2>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Cartesianas.pdf">
              Coordenadas Cartesianas y Rectángulos (pdf)
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Homotecia.pdf">
              Homotecia y el Círculo de los Nueve Puntos (pdf)
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Ciclicos.pdf">
              Semejanza y Cuadriláteros Cíclicos (pdf)
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Transformaciones.pdf">
              Transformaciones (pdf)
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Folletos de Teoría de Números -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Folletos de Teoría de Números
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <h2>Teoría de Números</h2>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Aritmetica-Modular.pdf">
              Aritmética Modular (pdf)
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Divisibilidad.pdf">
              Divisibilidad (pdf)
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Diofanticas.pdf">
              Ecuaciones Diofánticas (pdf)
            </a>
          </li>
          <li>
            <a href=".././assets/pdfs/Factoriales.pdf"> Factoriales (pdf) </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
