mat-accordion {
  padding: 2%;
  margin: 2%;
}

mat-expansion-panel {
  margin: 5%;
  padding: 1%;
  background-color: #533a94;
}

mat-card {
  text-align: justify;
  background-color: #b999d5;
  color: #00316e;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
