<mat-accordion multi>
  <mat-expansion-panel disabled expanded>
    <mat-card>
      <mat-card-header>
        <h2>FOLLETOS</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          Esta página contiene enlaces a todos los folletos que he escrito. La
          mayoría de estos fueron escritos para complementar clases que impartí
          como entrenador de matemática de Francisco Morazán, Honduras y, más
          recientemente, clases al grupo preolímpico de Honduras. Los folletos
          están separados por área: Álgebra, Combinatoria, Geometría y Teoría de
          Números. Espero les sea útil. <br />
          <br />
          ~Ezra Guerrero
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description> Folletos de Álgebra </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <h2>ÁLGEBRA</h2>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <a href=".././assets/pdfs/Reacomodo.pdf">
              La Desigualdad del Reacomodo (pdf)
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
