<mat-toolbar color="primary">
  <button mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title-center">
    EZRA
    <br />
    <a href="https://github.com/EzraG101">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a href="https://www.youtube.com/@beneaththecurve911">
      <mat-icon svgIcon="youtube"></mat-icon>
    </a>
    <a href="https://www.instagram.com/ezrag1/">
      <mat-icon svgIcon="instagram"></mat-icon>
    </a>
  </span>
  <span>{{ date }}</span>
</mat-toolbar>
