<br/>
<mat-toolbar color="primary">
  <nav class="navbar">

    <mat-card>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/research" routerLinkActive="active">Research</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/teaching" routerLinkActive="active">Teaching</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/library" routerLinkActive="active">Library</a>
    </mat-card>

      <span>|</span>

    <mat-card>
      <a routerLink="/resources" routerLinkActive="active">Resources</a>
    </mat-card>

      <span>|</span>
      
    <mat-card>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
    </mat-card>
</nav>
</mat-toolbar>
