<!-- Title and Navigation -->
<app-titlebar-es></app-titlebar-es>
<app-navbar-es></app-navbar-es>

<!-- BROKEN: NEED TO ADD ENGLISH BLOG PAGE -->

<!-- Page! -->
<div style="display: flex; flex-grow: 0">
  <mat-accordion multi>
    <div *ngIf="subscribedParam === null">
      <mat-expansion-panel disabled expanded>
        <mat-card>
          <mat-card-header><h2>Blog</h2></mat-card-header>
          <mat-card-content>
            ¡Bienvenidos a mi blog! Aquí podrán encontrar breves artículos sobre
            cosas de las que me interesa escribir. Sea matemática, ajedrez, o
            puzles, espero haya escrito de algo que pueda interesarles.
            <br />
            <br />
            ~Ezra Guerrero Alvarez
          </mat-card-content>
          <mat-card-footer><br /></mat-card-footer>
        </mat-card>
      </mat-expansion-panel>
    </div>
    <div *ngFor="let blog of blogs">
      <div *ngIf="subscribedParam === null || subscribedParam === blog.link">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <h2>{{ blog.title }} ({{ blog.date }})</h2>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-header>
              <h2>{{ blog.title }}</h2>
            </mat-card-header>
            <mat-card-content>
              <a [routerLink]="'/blog/post/' + blog.link + '/es'">
                (abrir en propia página)
              </a>
              <br />
              <br />
              <mathjax [content]="blog.content"></mathjax>
              <br />
              <br />
              {{ blog.date }}
            </mat-card-content>
            <mat-card-footer><br /></mat-card-footer>
          </mat-card>
        </mat-expansion-panel>
        <br />
      </div>
    </div>
  </mat-accordion>
  <mat-accordion multi class="hidden-mobile">
    <mat-expansion-panel disabled expanded>
      <mat-card>
        <mat-card-header><h2>Archivo</h2></mat-card-header>
        <mat-card-content>
          <a routerLink="/blog/es">Página Principal</a>
          <ul>
            <div *ngFor="let blog of blogs">
              <li>
                <a [routerLink]="'/blog/post/' + blog.link + '/es'">
                  {{ blog.title }} ({{ blog.date }})
                </a>
              </li>
            </div>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
