<app-navbar></app-navbar>

<div class="hide">
  <mat-grid-list cols="3" rowHeight="1:10">
    <mat-grid-tile colspan="2">
      <mat-card>
        <div class="card">
          <mat-card-header><h2>Información General</h2></mat-card-header>
          <mat-card-content>
            <p>
              ¡Bienvenidos a mi sitio web! <br />
              <br />
              Este es el sitio web de Ezra Guerrero Alvarez. Aquí podrán
              encontrar todo lo que quiero hacer fácilmente accesible en
              internet: mi blog, mis folletos de matemática, mis videos de
              YouTube, etc. <br />
              <br />
              Presionando el ícono de menú puedes navegar a mi blog, acceder a
              mis folletos de matemática, ver las clases que he impartido y leer
              mis publicaciones. <br />
              <br />
              Los íconos de la esquina superior derecha llevan a mi página de
              Github, a mi canal de YouTube, a mi cuenta de Instagram y a mi
              correo electrónico, donde pueden contactarme con cualquier
              pregunta, comentario o sugerencia que deseen. <br />
              <br />
              Finalmente, en la sección «Destacado» verán una pequeña selección
              de lo que tengo para ofrecer, destacando proyectos recientes y
              cosas de las cuales estoy orgulloso. <br />
              <br />
              Espero este sitio sea útil y de su agrado. <br />
              <br />
              ~Ezra Guerrero Alvarez
            </p>
          </mat-card-content>
          <mat-card-footer><br /></mat-card-footer>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<router-outlet></router-outlet>
