<mat-accordion multi>
  <mat-expansion-panel disabled expanded>
    <mat-card>
      <mat-card-header>
        <h2>Clases</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          Esta página contiene enlaces a algunas de las clases que he impartido.
          Mediante vaya subiendo más clases a mi canal de YouTube esta página
          irá creciendo. Las clases están organizadas en orden cronológico.
          Espero les sirvan. <br />
          <br />
          ~Ezra Guerrero Alvarez
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Clases EOE -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Entrenamiento Olímpico con Ezra (EOE)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=nHJSqvDbjqo">
              Semejanza y Cíclicos
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=qo6itD1nX6o&t=11s">
              Homotecia
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=MjGiVsrgifU&t=4s">
              Divisibilidad y Diofánticas
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <!-- Clases Preolimpico 2023 -->
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description> Preolímpico Honduras 2023 </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul></ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel> -->
</mat-accordion>
