<!-- <app-page></app-page> -->
<!-- <div fxLayout="row" fxLayoutAlign="start start"> -->
<div style="display: flex; flex-grow: 0">
  <mat-accordion multi>
    <mat-expansion-panel disabled expanded>
      <mat-card>
        <mat-card-header><h2>Blog</h2></mat-card-header>
        <mat-card-content>
          <!-- <mathjax [content]="mathContent"></mathjax> -->
        </mat-card-content>
        <mat-card-footer><br /></mat-card-footer>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi class="hidden-mobile">
    <mat-expansion-panel disabled expanded>
      <mat-card>
        <mat-card-header><h2>Archivo</h2></mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
