<app-navbar></app-navbar>

<!-- <app-page></app-page> -->

<mat-grid-list cols="3" rowHeight="5:4" gutterSize="5%">
  <mat-grid-tile colspan="2" rowspan="2">
    <mat-card>
      <mat-card-header><h2>Información General</h2></mat-card-header>
      <mat-card-content> ¡Bienvenidos a mi sitio web! </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile rowspan="2">
    <mat-card>
      <mat-card-header><h2>Destacado</h2></mat-card-header>
      <mat-card-content> ... </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
