mat-card {
  /* width: 90%;
  height: 95%; */
  text-align: justify;
  background-color: #9171be;
  color: #0a0319;
}

mat-accordion {
  padding: 1%;
  margin: 1%;
}

mat-expansion-panel {
  /* margin: 5%; */
  padding: 1%;
  background-color: #533a94;
}

.hide {
  color: #533a94;
}

.icons8 {
  color: #9171be;
  text-align: right;
}

.left {
  text-align: left;
}
