<div style="display: flex; flex-grow: 0">
  <mat-accordion multi>
    <mat-expansion-panel disabled expanded>
      <mat-card>
        <mat-card-header><h2>Información General</h2></mat-card-header>
        <mat-card-content>
          <p>
            ¡Bienvenidos a mi sitio web! <br />
            <br />
            Este es el sitio web de Ezra Guerrero Alvarez. Aquí podrán encontrar
            todo lo que quiero hacer fácilmente accesible en internet: mi blog,
            mis folletos de matemática, mis videos de YouTube, etc. <br />
            <br />
            Presionando el ícono de menú puedes navegar a mi blog, acceder a mis
            folletos de matemática, ver las clases que he impartido y leer mis
            publicaciones. (Publicaciones no disponibles aún)
            <br />
            <br />
            Finalmente, los íconos de la esquina superior derecha llevan a mi
            página de Github, a mi canal de YouTube, a mi cuenta de Instagram y
            a mi correo electrónico, donde pueden contactarme con cualquier
            pregunta, comentario o sugerencia que deseen. <br />
            <br />
            Espero este sitio sea útil y de su agrado. <br />
            <br />
            ~Ezra Guerrero Alvarez
          </p>
          <!-- <mathjax [content]="mathContent"></mathjax> -->
        </mat-card-content>
        <mat-card-footer><br /></mat-card-footer>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi class="hidden-mobile">
    <mat-expansion-panel disabled expanded>
      <mat-card>
        <mat-card-header><h2>Destacado</h2></mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <p>
                Folleto de
                <a href=".././assets/pdfs/Desigualdades-Pr1.pdf">
                  Problemas de Desigualdades
                </a>
                añadido.
              </p>
            </li>
            <li>
              <p><a routerLink="/cambios">Registro de Cambios</a> creado.</p>
            </li>
            <li>
              <p>Página de <a routerLink="/blog">blogs</a> creada.</p>
            </li>
            <li>
              <p>
                Recurso
                <a href="https://discord.gg/ht9ZwkYwQk">Problema 0</a> (servidor
                de Discord) añadido.
              </p>
            </li>
            <li>
              <p>Página de <a routerLink="/recursos">recursos</a> creada.</p>
            </li>
            <li hidden>
              <p>Página de <a routerLink="/clases">clases</a> creada.</p>
            </li>
            <li hidden>
              <p>
                Folleto de
                <a href=".././assets/pdfs/Transformaciones.pdf">
                  Transformaciones
                </a>
                añadido.
              </p>
            </li>
            <li hidden>
              <p>
                Página de
                <a routerLink="/folletos">folletos</a> creada.
              </p>
            </li>
          </ul>
          <a routerLink="/cambios">Más cambios...</a>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<p class="icons8">
  Los íconos fueron obtenidos del sitio
  <a href="https://icons8.com/" style="color: #533a94"> icons8 </a>
</p>
