<mat-accordion multi>
  <mat-expansion-panel disabled expanded>
    <mat-card>
      <mat-card-header>
        <h2>Recursos</h2>
      </mat-card-header>
      <mat-card-content>
        <p>
          Esta página contiene enlaces a varios recursos útiles para estudiar y
          practicar para olimpiadas de matemáticas. Si conocen algún recurso que
          no incluyo en esta página, ¡pueden contactarme para que lo agregue!
          <br />
          <br />
          ~Ezra Guerrero Alvarez
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description> Recursos en Español </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href="https://discord.gg/ht9ZwkYwQk">
              Problema 0 (Servidor de Discord)
            </a>
          </li>
          <p>
            Este servidor de Discord (creado por el gran Tomás Cantú) es una
            comunidad para aquellos que quieren aprender más matemática. ¡Es un
            lugar para trabajar con otras personas y aprender mucho!
          </p>
          <li>
            <a href="https://proyectomuro.com">
              Proyecto MURO (proyectomuro.com)
            </a>
          </li>
          <p>
            Este sitio contiene los enunciados en español de problemas de
            diversas olimpiadas.
          </p>
          <li>
            <a href="https://ezrag.me"> Mi Sitio Web (ezrag.me) </a>
          </li>
          <p>
            Entre otras cosas, mi sitio contiene folletos y clases enfocados en
            matemáticas de olimpiada.
          </p>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-description> Recursos en Inglés </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <ul>
          <li>
            <a href="https://aops.com">
              The Art of Problem Solving (artofproblemsolving.com)
            </a>
          </li>
          <p>
            Este sitio está repleto de problemas de matemática. También ofrecen
            clases y libros.
          </p>
          <li>
            <a href="https://evanchen.cc">
              Sitio Web de Evan Chen (evanchen.cc)
            </a>
          </li>
          <p>
            En el sitio web de Evan Chen pueden encontrar gran cantidad de
            folletos y videos sobre diversos temas de matemáticas. Evan Chen
            también ofrece un programa de entrenamiento llamado OTIS que puede
            ser muy útil una vez se tenga un poco de experiencia.
          </p>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
